<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>coulda - <%= @item[:title] %></title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
  </head>
  <body>
    <div id="main">
<%= yield %>
      <div id="page_footer">
        Copyright 2009, Evan David Light
      </div>
    </div>
    <div id="sidebar">
      <p><a href="/">Home</a></p>
      <br/>
      <h2>Recommend Me</h2>
      <br/>
      <p style="font-size: 0.7em">
        If you like my work with coulda, please recommend me on <a href="http://www.workingwithrails.com/recommendation/new/person/10033-evan-david-light">Working With Rails</a> (and please provide a reason on the site why). Thanks!!! 
      </p>
      <br/>
      <h2>Documentation</h2>
      <ul>
        <li><a href="/tutorial/">Tutorial</a></li>
        <li><a href="/why/">Why YATFTL</a> <a href="/#YAFTL">*</a>
      </ul>
      <h2>Community</h2>
      <ul>
        <li><a href="http://github.com/elight/coulda/">Contribute</a></li>
        <li><a href="http://groups.google.com/group/coulda/">Discussion Group</a></li>
        <li><a href="http://github.com/elight/coulda/issues">Issue Tracking</a></li>
        <li><a href="http://wiki.github.com/elight/coulda">Wiki</a></li>
        <li id="irc"><a href="http://webchat.freenode.net/?channels=coulda">IRC: #coulda on freenode</a></li>
        <li>elight</li>
      </ul>
    </div>
  </body>
</html>
